.user-sidebar {
  width: 250px;
  background-color: #00b5f6;
  border-right: 1px solid #ddd;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 100vh;
  position: fixed;
}

.user-profile {
  text-align: center;
  margin-bottom: 30px;
}

.profile-picture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.user-name {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.user-email {
  font-size: 14px;
  color: #777;
}

.sidebar-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-nav li {
  margin-bottom: 15px;
}

.sidebar-nav a {
  text-decoration: none;
  width: 100%;
  color: #ffffff;
  font-size: 18px;
  transition: color 0.3s ease;
}

.sidebar-nav a:hover {
  padding: 3px 4px;
  color: #000000;

  width: 100%;
}
.sidebar-nav li:hover {
  background-color: white;
}
